.addFileBtn{
    width:50%;
    border-radius: 20px;
    background-color: white;
    color:gray;
    border:none;
    font-size:1.5rem;
    margin:10px;
    transition:0.2s linear all;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.addFileBtn:hover{
    background: white;
    color:gray;
    transform: scale(1.03);
}