/* Left SideBar */
.leftSideBar{
   width:18%;
   display:flex;
   flex-direction: column;
}
.optionBtn{
    background:none;
    border:none;
    color:gray;
    font-size:1.2rem;
    width:100%;
    padding:5px 30px;
    height:40px;
    margin-top:5px;
    border-radius: 20px;
    text-align:left;
}
.optionBtn:hover{
    background-color: lightgray;
    text-decoration: none;
    color:gray;
}
.rightBox{
    width:70%;
}
.emptyImg{
    width:60%;
}